<!DOCTYPE html>

<html lang="fr">

    <head>
        
    </head>

    <body>
        
            <h1>Merci !</h1>
            </br>
            <h5>Votre message à bien été reçu et vous serez contacté sous 48 heures maximum.</h5>
            </br>
            <h5>Retrouvez ci dessous vos informations :</h5>
            <p>--------------------------</p>
            <p>Nom : {{ request.form['name'] }}</p>
            <p>Prénom : {{ request.form['prenom'] }}</p>
            <p>Numéro de téléphone : {{ request.form['numero'] }}</p>
            <p>Email : {{ request.form['email'] }}</p>
            <p>Sujet : {{ request.form['subject'] }}</p>
            <p>Message : {{ request.form['message'] }}</p>
            <p>--------------------------</p>
                
    </body>

</html>