{% extends "layout.html" %}

{% block meta_description %}
Création de site design à des prix abordables. Devis en ligne GRATUIT. Jeune développeur web disponible pour vos besoins. N'hesitez pas à remplir le formulaire de contact !
{% endblock %}

{% block meta %}
<meta name="google-site-verification" content="BnRL-7EYNuXYY6KTeDzSaXfueSFVgNKZmycz161Sebc" />
{% endblock %}

{% block title %}
    Développeur web | Devis gratuit sous 48h maximum
{% endblock %}

{% block main %}
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<h1 class="name">BLD Devs</h1>
<div class="wrapper">
    <div class="typing-demo">
    
    
    <h6>🚀 Développeur Web Junior | Full Stack.</h6>
    
    </div>
</div>
<div class="centerBox">
	
	<div class="categoryWrapper">
		<img src="static/bld.JPG" alt="Alexandre BLIND">
		<h1>Alexandre</h1>
		<button>
			<span>
				<span>
					<span data-attr-span="🚀" onclick="window.location='/aboutme'">
						plus d'informations
					</span>
				</span>
			</span>
		</button>
	</div>
	
</div>


{% endblock %}
