{% extends "layout.html" %}

{% block meta_description %}
Developpeur web junior full-stack. Python (Flask & Django) et JavaScript. Devis en ligne GRATUIT, réponse sous 48h maximum.
{% endblock %}

{% block meta %}
<meta name="google-site-verification" content="BnRL-7EYNuXYY6KTeDzSaXfueSFVgNKZmycz161Sebc" />
{% endblock %}

{% block title %}
    Développeur web | Python et JavaScript
{% endblock %}

{% block main %}
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<h1 class="name">BLD Devs</h1>
<div class="wrapper">
    <div class="typing-demo">
    
    
    <h6>🚀 Développeur Web Junior | Full Stack.</h6>
    
    </div>
</div>

<div class="centerBox">
	
	<div class="categoryWrapper">
		<img src="static/bld.JPG" alt="Alexandre BLIND">
		<h1>Alexandre</h1>
		<button>
			<span>
				<span>
					<span data-attr-span="🚀" onclick="window.location='/aboutme'">
						plus d'informations
					</span>
				</span>
			</span>
		</button>
	</div>
	
</div>

{% if success %}
<link href="/static/popup.css" rel="stylesheet">
<div class="wrap">
  <button class="js-open btn-open is-active buttonPopUp">Nouveau message ! <img src='static/notification.png'></button>
  <div class="modal js-modal">
    <div class="modal-image">
      <svg viewBox="0 0 32 32" style="fill:#48DB71"><path d="M1 14 L5 10 L13 18 L27 4 L31 8 L13 26 z"></path></svg>
    </div>
    <h1>Message envoyé !</h1>
    <p>Votre message a correctement été envoyé. Un accusé de reception vous sera également envoyé par mail. </br>Vous serez recontacté sous 48h maximum. </p>
    <button class="js-close buttonClosePopUp"><img src='/static/fermer.png'></button>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/popup2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dynamics.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popup.js') }}"></script>

{% endif %}

{% endblock %}
