{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<h1 class="name">BLD Devs</h1>
<div class="wrapper">
    <div class="typing-demo">
    
    
    <h6>🚀 Développeur Web Junior | Full Stack.</h6>
    
    </div>
</div>
<div class="centerBox">
	
	<div class="categoryWrapper">
		<img src="static/bld.JPG" alt="Alexandre BLIND">
		<h1>Alexandre</h1>
		<button>
			<span>
				<span>
					<span data-attr-span="🚀">
						plus d'informations
					</span>
				</span>
			</span>
		</button>
	</div>
	
</div>


{% endblock %}
